.comisoma-notice-custom {
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	padding: 0px !important;
	border: none !important;
	position: relative;
}
.comisoma-notice-custom img {
	width:1690px;
	max-width: 100%;
}
.comisoma-notice-custom a {
	color: #0073aa;
	text-decoration: none;
}
.comisoma-notice-custom a:hover {
	text-decoration: underline;
}
.comisoma-notice-custom .notice-dismiss {
	background: #ff3030;
}
.comisoma-notice-custom .notice-dismiss:before {
	color:#FFF;
}
